/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }
  
  
  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
  
  /* experience page */
  
  .col {
    vertical-align: top;
    display: inline-block;
    width: 25%;
    background: #af7aef;
    margin-left: 4%;
    margin-right: 4%;
    border-bottom: 4px solid #000;
    border-radius: 6px;
    transition: all .5s;
  }
  
  .grid {
    display: inline-block;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .col-2 {
    background: #ff66ff;
  }

  .col-3 {
    background: #9999ff;
  }
  
  h2 {
    padding-left: 30px;
    font-size: 30px;
  }
  
  .p-experience {
    padding:  0 30px 30px 30px;
    font-size: 16px;
    padding: 30px;
  }
  
  /* contact page */
  
  .contact {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 60px;
    font-size: 60px;
  }

  span {
    color: #a50069;
  }
  
  
  form {
    border: 1px solid #a50069;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    width: 500px;
    margin: 0 auto;
  }

  fieldset {
    border: 0;
    margin: 5px;
    padding: 20px;
  }

  input,
  textarea {
    border-radius: 5px;
    display: block;
    width: 300px;
    height: 30px;
    margin: 0 auto;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
  }

  .textarea {
    height: 150px;
  }



  label {
    font-size: 20px;
    line-height: 25px;
    color: #a50069;
  }
  
  .btn {
    background: #a50069;
    height: 50px;
    color: #fff;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
  }

  

/*
=========================
GALLERY PAGE
=========================
*/

/*intro gallery*/

.intro-gallery {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

.title-gallery {
  margin-top: 100px;
  line-height: 50px;
  color: #a50069;
}

.p-gallery {
  font-size: 30px;
  line-height: 30px;
}


/*gallery*/

  dl#gallery {
    width: 1200px;
    left: 150px;
    position: relative; 
    border-radius: 80px;
    background: #000; 
  }
  
  dl#gallery dt img { 
    width: 150px;
    height: 150px;
    margin: 2.2em;
    margin-left: 500px;
    border-radius: 8px;
  }

  dl#gallery dd { 
    position: absolute;
    left: 50px;
    top: 2.2em;
    visibility: hidden;
    opacity: 0;
    transition: 2s opacity linear;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    color: white;
    font-size: 16px;
  }

  dl#gallery dt:hover + dd { 
    visibility: visible;
    opacity: 1; 
  }

  dl#gallery dd img { 
    width: 60%;
    display: block; 
    margin: 0 auto; 
    padding-bottom: 1.2em; 
  }

}
